@charset "utf-8";
/* CSS Document */
html, body {color: #444;font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;font-size: 14px;font-style: normal;font-weight: 400;line-height: 1.4; padding:0;  margin:0; height:100%;min-width:642px; min-height:460px;}
ul,p{ padding:0; margin:0;}
ul{ list-style-type:none;}
.none{ display:none;}
.div-out{ width:100%; height:100%;background:url(../images/bg.png) 0 0 no-repeat; background-size:100% 100%; position:relative;}
.div-out ul.list-nav{z-index:100; position:absolute; left:10px; top:50%; margin-top:-70px;}
.div-out ul.list-nav li{ width:20px; height:20px; text-align:center; list-style-type:none;cursor:pointer;}
.div-out ul.list-nav li a{ width:10px; height:10px; display:inline-block; background:#eee; border-radius:50%;transition:all 2s ease;-moz-transition:all 2s ease;-webkit-transition:all 2s ease;-o-transition:all 2s ease;-ms-transition:all 2s ease;}
.div-out ul.list-nav li.now a{ width:10px; height:10px; background:#392e6f; border:4px solid #eee; }
.stage{ position:absolute; left:0; top:0; width:100%; height:100%;}
.stage .stage-floor{ width:100%; height:100%;opacity:0; position:absolute; left:0; top:-50%;transition:all 1s ease 1s;-moz-transition:all 1s ease 1.5s;-webkit-transition:all 1s ease 2s;-o-transition:all 1s ease 2s;-ms-transition:all 1s ease 2s;}
.stage-content{ width:642px; height:460px; margin-left:-321px; margin-top:-230px;position:absolute; left:50%; top:50%;}

.stage .stage-floor.stage-in{top:0;opacity:1;z-index:10;transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
.stage .stage-floor.stage-in-out{ top:0;opacity:1; z-index:10;}

.stage-1-icon{ position:relative; margin:25px auto 60px auto; width:100px; height:80px; overflow:hidden; opacity:0; transition:all 2s ease;-moz-transition:all 2s ease;-webkit-transition:all 2s ease;-o-transition:all 2s ease;-ms-transition:all 2s ease; }
.stage-1-icon .stage-1-icon-1 span{ width:100px; height:80px; display:inline-block; position:absolute; background:url(../images/logo.png) 0 0 no-repeat; background-size:100% auto;}
.stage-1-title{ height: 50px; margin:0 auto 28px auto;width: 300px;}
.stage-1-title .stage-1-title-1{ height:50px; background:url(../images/title.png) 0 0 no-repeat; background-size:100% auto; margin:0 auto;}
.stage-1-title2{ width:200px; height:29px; margin:0 auto 30px auto;}
.stage-1-title2 .stage-1-title2-1{ width:200px; height:28px; background:url(../images/title2.png) 0 0 no-repeat; background-size:100% auto;opacity:0;}
.stage-1-msg1{ color:#92d4e4; font-size:12px; text-align:center; margin-bottom:10px;}
.stage-1-msg2{ color:#92d4e4; font-size:12px; text-align:center;}
.stage-1-title2 .stage-1-title2-1,.stage-1-msg1,.stage-1-msg2{opacity:0;transition:all 2s ease 2s;-moz-transition:all 2s ease 2s;-webkit-transition:all 2s ease 2s;-o-transition:all 2s ease 2s;-ms-transition:all 2s ease 2s;}
.stage-1-title .stage-1-title-1{animation:resize2 4s;-moz-animation:resize2 4s;-webkit-animation:resize2 4s;-o-animation:resize2 4s;-ms-animation:resize2 4s;}
#JS_stage_1 .stage-content{overflow:hidden;}

@-moz-keyframes resize {
    0% {
        width:0;
    }
    100% {
        width:300px; 
    }
}
@-webkit-keyframes resize {
    0% {
        width:0;
    }
    100% {
        width:300px; 
    }
}
@-ms-keyframes resize {
    0% {
        width:0;
    }
    100% {
        width:300px; 
    }
}
@-o-keyframes resize {
    0% {
        width:0;
    }
    100% {
        width:300px; 
    }
}
@-moz-keyframes resize2 {
    0% {
        width:300px;
    }
    100% {
        width:0; 
    }
}
@-webkit-keyframes resize2 {
    0% {
        width:300px;
    }
    100% {
        width:0; 
    }
}
@-ms-keyframes resize2 {
    0% {
        width:300px;
    }
    100% {
        width:0; 
    }
}
@-o-keyframes resize2 {
    0% {
        width:300px;
    }
    100% {
        width:0; 
    }
}

.stage-in .stage-1-icon{opacity:1;-moz-transform:scale(2,2);-webkit-transform:scale(2,2);-o-transform:scale(2,2);-ms-transform:scale(2,2);transition:all 2s ease-out;-moz-transition:all 2s ease-out;-webkit-transition:all 2s ease-out;-o-transition:all 2s ease-out;-ms-transition:all 2s ease-out;}
.stage-in .stage-1-title .stage-1-title-1,.stage-in .stage-1-title2 .stage-1-title2-1,.stage-in .stage-1-msg1,.stage-in .stage-1-msg2{opacity:1;}
.stage-in .stage-1-title .stage-1-title-1{animation:resize 2s ease-in;-moz-animation:resize 2s ease-in;-webkit-animation:resize 2s ease-in;-o-animation:resize 2s ease-in;-ms-animation:resize 2s ease-in; -webkit-transition:all 2s ease-out;-o-transition:all 2s ease-out;-ms-transition:all 2s ease-out;}
.stage-in .stage-1-title2 .stage-1-title2-1,.stage-in .stage-1-msg1,.stage-in .stage-1-msg2{transition:all 2s ease-out;-moz-transition:all 2s ease-out;-webkit-transition:all 2s ease-out;-o-transition:all 2s ease-out;-ms-transition:all 2s ease-out;}



.stage-2-bg{ width:642px; height:460px; background:url(../images/stage-2-bg.png) 0 0 no-repeat; position:relative; margin:0 auto; background-size:100% auto; list-style-type:none;}
.stage-2-bg .stage-2-person{  display:inline-block; background:url(../images/stage-2-p1.png) 0 0 no-repeat; background-size:100% 100%; position:absolute;transform:rotate(-360deg);-moz-transform:rotate(-360deg);-webkit-transform:rotate(-360deg);-o-transform:rotate(-360deg);-ms-transform:rotate(-360deg);transition:all 1s ease-in-out 1s; -moz-transition:all 1s ease-in-out 1s;-webkit-transition:all 1s ease-in-out 1s;-o-transition:all 1s ease-in-out 1s;-ms-transition:all 1s ease-in-out 1s;}
.stage-2-bg .stage-2-person.stage-2-person2{ background-image:url(../images/stage-2-p2.png);}
.stage-2-bg .stage-2-person.stage-2-person3{ background-image:url(../images/stage-2-p3.png);}
.stage-2-bg .stage-2-person.stage-2-person4{ background-image:url(../images/stage-2-p4.png);}
.stage-2-bg .stage-2-person.stage-2-person5{ background-image:url(../images/stage-2-p5.png);}
.stage-2-bg .stage-2-person.stage-2-person6{ background-image:url(../images/stage-2-p6.png);}
.stage-2-bg .stage-2-word{ color:#fff; font-family:Microsoft YaHei; font-size:22px; position:absolute;opacity:0;transition:all 1s ease 0s;-moz-transition:all 1s ease 0s;-webkit-transition:all 1s ease 0s;-o-transition:all 1s ease 0s;-ms-transition:all 1s ease 0s;}
.stage-2-bg .stage-2-word.stage-2-word1{ left:234px; top:190px; }
.stage-2-bg .stage-2-word.stage-2-word2{ left:211px; top:220px;}

.stage-2-bg .stage-2-person.stage-2-person1,.stage-2-bg .stage-2-person.stage-2-person2,.stage-2-bg .stage-2-person.stage-2-person3,.stage-2-bg .stage-2-person.stage-2-person4,.stage-2-bg .stage-2-person.stage-2-person5,.stage-2-bg .stage-2-person.stage-2-person6{ left:300px; top:220px; width:0; height:0;;}

.stage-in-out .stage-2-bg .stage-2-person.stage-2-person1{ width:80px; height:80px; left:183px; top:265px;}
.stage-in-out .stage-2-bg .stage-2-person.stage-2-person2{ width:40px; height:40px; left:375px; top:277px;}
.stage-in-out .stage-2-bg .stage-2-person.stage-2-person3{ width:78px; height:78px; left:390px; top:183px;}
.stage-in-out .stage-2-bg .stage-2-person.stage-2-person4{ width:50px; height:50px; left:365px; top:114px;}
.stage-in-out .stage-2-bg .stage-2-person.stage-2-person5{ width:50px; height:50px; left:234px; top:87px;}
.stage-in-out .stage-2-bg .stage-2-person.stage-2-person6{width:60px; height:60px;left:164px; top:137px;}
.stage-in-out .stage-2-bg .stage-2-person{transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);}
.stage-in-out .stage-2-word{opacity:1;}

.stage-in .stage-2-bg .stage-2-person{transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transition:all 1s ease-in-out 1s; -moz-transition:all 1s ease-in-out 1s;-webkit-transition:all 1s ease-in-out 1s;-o-transition:all 1s ease-in-out 1s;-ms-transition:all 1s ease-in-out 1s;}
.stage-in .stage-2-bg .stage-2-word.stage-2-word1,.stage-in .stage-2-bg .stage-2-word.stage-2-word2{transition:all 1s ease 2s;-moz-transition:all 1s ease 2s;-webkit-transition:all 1s ease 2s;-o-transition:all 1s ease 2s;-ms-transition:all 1s ease 2s;}



.stage-3-bg{ width:602px; height:460px; margin-left:40px; position:relative;}
.stage-3-bg span{ width:100px; height:100px; display:inline-block;background:url(../images/stage-3-p.png) 0 0 no-repeat; background-size:600% 200%; position:absolute;}
.stage-3-bg span.stage-3-p1{ background-position:0 -100px; top:-100px; left:602px;}
.stage-3-bg span.stage-3-p2{ background-position:-400px 0; top:-100px; left:369px;}
.stage-3-bg span.stage-3-p3{ background-position:-200px 0; top:443px; left:451px;}
.stage-3-bg span.stage-3-p4{ background-position:-300px 0; top:443px; left:602px}
.stage-3-bg span.stage-3-p5{ background-position:0 0; top:-100px; left:300px}
.stage-3-bg span.stage-3-p6{width:80px; height:80px; top:104px; left:-100px; background:url(../images/stage-3-p.png) -400px 0 no-repeat;background-size:600% 200%;}
.stage-3-bg span.stage-3-p7{width:80px; height:80px; background:url(../images/stage-3-p.png) -80px 0 no-repeat; background-size:600% 200%;top:370px; left:-100px;}
.stage-3-bg span.stage-3-p8{width:80px; height:80px; background:url(../images/stage-3-p.png) -80px -80px no-repeat; background-size:600% 200%;top:200px; left:-100px;}
.stage-3-bg span.stage-3-p9{width:150px; height:150px; background:url(../images/stage-3-p.png) -300px -150px no-repeat; background-size:600% 200%;top:100px; left:602px}
.stage-3-bg span.stage-3-p10{ background-position:-300px -100px; top:443px; left:300px; cursor:pointer;}
.stage-3-bg span.stage-3-p11{ background-position:-400px -100px; top:-100px; left:500px; cursor:pointer;}
.stage-3-bg span.stage-3-p12{ background-position:-500px -100px; top:300px; left:-100px; cursor:pointer;}
.stage-3-bg span.stage-3-p1,.stage-3-bg span.stage-3-p2,.stage-3-bg span.stage-3-p3,.stage-3-bg span.stage-3-p4,.stage-3-bg span.stage-3-p5,.stage-3-bg span.stage-3-p6,.stage-3-bg span.stage-3-p7,.stage-3-bg span.stage-3-p8,.stage-3-bg span.stage-3-p9,.stage-3-bg span.stage-3-p10,.stage-3-bg span.stage-3-p11,.stage-3-bg span.stage-3-p12{transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}
.stage-3-bg p{ color:#fff; font-size:28px; position:absolute; font-family:Microsoft YaHei; font-weight:lighter;}
.stage-3-bg p.sp-1{ top:38px; left:210px;}
.stage-3-bg p.sp-2{ top:160px; left:310px;}
.stage-3-bg .bg-display{opacity:1;width:602px; height:460px; position:absolute; left:0;top:0; background:url(../images/stage-3-bg.png) 0 0 no-repeat; background-size:100% auto;transition:all 0.5s ease 0.5s;-moz-transition:all 0.5s ease  0.5s;-webkit-transition:all 0.5s ease 0.5s;-o-transition:all 0.5s ease 0.5s;-ms-transition:all 0.5s ease 0.5s;}
.stage-3-bg span,.stage-3-bg p{opacity:0;}
.stage-3-bg p{transition:all 1s ease;-moz-transition:all 1s ease;-webkit-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;}

.stage-in .stage-3-bg .bg-display{transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;}
.stage-in-out .stage-3-bg .bg-display{opacity:0;transition:all 0.5s ease 2s;-moz-transition:all 0.5s ease 2s;-webkit-transition:all 0.5s ease 2s;-o-transition:all 0.5s ease 2s;-ms-transition:all 0.5s ease 2s;}
.stage-in-out .stage-3-bg span{opacity:1;}
.stage-in-out .stage-3-bg span.stage-3-p1{transition:all 1s ease 2.5s;-moz-transition:all 1s ease 2.5s;-webkit-transition:all 1s ease 2.5s;-o-transition:all 1s ease 2.5s;-ms-transition:all 1s ease 2.5s;}
.stage-in-out .stage-3-bg span.stage-3-p2{transition:all 1s ease 2.1s;-moz-transition:all 1s ease 2.1s;-webkit-transition:all 1s ease 2.1s;-o-transition:all 1s ease 2.1s;-ms-transition:all 1s ease 2.1s;}
.stage-in-out .stage-3-bg span.stage-3-p3{transition:all 1s ease 2s;-moz-transition:all 1s ease 2s;-webkit-transition:all 1s ease 2s;-o-transition:all 1s ease 2s;-ms-transition:all 1s ease 2s;}
.stage-in-out .stage-3-bg span.stage-3-p4{transition:all 1s ease 2s;-moz-transition:all 1s ease 2s;-webkit-transition:all 1s ease 2s;-o-transition:all 1s ease 2s;-ms-transition:all 1s ease 2s;}
.stage-in-out .stage-3-bg span.stage-3-p5{transition:all 1s ease 2s;-moz-transition:all 1s ease 2s;-webkit-transition:all 1s ease 2s;-o-transition:all 1s ease 2s;-ms-transition:all 1s ease 2s;}
.stage-in-out .stage-3-bg span.stage-3-p6{transition:all 1s ease 2s;-moz-transition:all 1s ease 2s;-webkit-transition:all 1s ease 2s;-o-transition:all 1s ease 2s;-ms-transition:all 1s ease 2s;}
.stage-in-out .stage-3-bg span.stage-3-p7{transition:all 1s ease 2s;-moz-transition:all 1s ease 2s;-webkit-transition:all 1s ease 2s;-o-transition:all 1s ease 2s;-ms-transition:all 1s ease 2s;}
.stage-in-out .stage-3-bg span.stage-3-p8{transition:all 1s ease 2.3s;-moz-transition:all 1s ease 2.3s;-webkit-transition:all 1s ease 2.3s;-o-transition:all 1s ease 2.3s;-ms-transition:all 1s ease 2.3s;}
.stage-in-out .stage-3-bg span.stage-3-p9{transition:all 1s ease 2.4s;-moz-transition:all 1s ease 2.4s;-webkit-transition:all 1s ease 2.4s;-o-transition:all 1s ease 2.4s;-ms-transition:all 1s ease 2.4s;}
.stage-in-out .stage-3-bg span.stage-3-p10{transition:left 1s ease 2.1s,top 1s ease 2.1s,opacity 1s ease 2.1s,transform 1s ease;-moz-transition:left 1s ease 2.1s,top 1s ease 2.1s,opacity 1s ease 2.1s,transform 1s ease;-webkit-transition:left 1s ease 2.1s,top 1s ease 2.1s,opacity 1s ease 2.1s,transform 1s ease;-o-transition:left 1s ease 2.1s,top 1s ease 2.1s,opacity 1s ease 2.1s,transform 1s ease;-ms-transition:left 1s ease 2.1s,top 1s ease 2.1s,opacity 1s ease 2.1s,transform 1s ease;} 
.stage-in-out .stage-3-bg span.stage-3-p11{transition:left 1s ease 2s,top 1s ease 2s,opacity 1s ease 2s,transform 1s ease;-moz-transition:left 1s ease 2s,top 1s ease 2s,opacity 1s ease 2s,transform 1s ease;-webkit-transition:left 1s ease 2s,top 1s ease 2s,opacity 1s ease 2s,transform 1s ease;-o-transition:left 1s ease 2s,top 1s ease 2s,opacity 1s ease 2s,transform 1s ease;-ms-transition:left 1s ease 2s,top 1s ease 2s,opacity 1s ease 2s,transform 1s ease;}
.stage-in-out .stage-3-bg span.stage-3-p12{transition:left 1s ease 2s,top 1s ease 2s,opacity 1s ease 2s,transform 1s ease;-moz-transition:left 1s ease 2s,top 1s ease 2s,opacity 1s ease 2s,transform 1s ease;-webkit-transition:left 1s ease 2s,top 1s ease 2s,opacity 1s ease 2s,transform 1s ease;-o-transition:left 1s ease 2s,top 1s ease 2s,opacity 1s ease 2s,transform 1s ease;-ms-transition:left 1s ease 2s,top 1s ease 2s,opacity 1s ease 2s,transform 1s ease;}
.stage-in-out .stage-3-bg span.stage-3-p1{top:0; left:0;}
.stage-in-out .stage-3-bg span.stage-3-p2{top:100px; left:0;}
.stage-in-out .stage-3-bg span.stage-3-p3{ top:300px; left:0}
.stage-in-out .stage-3-bg span.stage-3-p4{ top:100px; left:100px}
.stage-in-out .stage-3-bg span.stage-3-p5{ top:200px; left:100px}
.stage-in-out .stage-3-bg span.stage-3-p6{ top:274px; left:185px;}
.stage-in-out .stage-3-bg span.stage-3-p7{ top:80px; left:270px}
.stage-in-out .stage-3-bg span.stage-3-p8{ top:55px; left:455px}
.stage-in-out .stage-3-bg span.stage-3-p9{ top:243px; left:298px}
.stage-in-out .stage-3-bg span.stage-3-p10{ top:200px; left:0;}
.stage-in-out .stage-3-bg span.stage-3-p11{ top:0; left:100px;}
.stage-in-out .stage-3-bg span.stage-3-p12{ top:100px; left:200px;}
.stage-in-out .stage-3-bg span.stage-3-p12,.stage-in-out .stage-3-bg span.stage-3-p11,.stage-in-out .stage-3-bg span.stage-3-p10{animation:glow 1s infinite alternate ease-in-out;-moz-animation:glow 1s infinite alternate ease-in-out;-webkit-animation:glow 1s infinite alternate ease-in-out;-o-animation:glow 1s infinite alternate ease-in-out;-ms-animation:glow 1s infinite alternate ease-in-out;}
.stage-in-out .stage-3-bg span.stage-3-p12:hover,.stage-in-out .stage-3-bg span.stage-3-p11:hover,.stage-in-out .stage-3-bg span.stage-3-p10:hover{transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-webkit-transform:scale(1.2,1.2);-o-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);}
@-moz-keyframes glow {
    0% {
        box-shadow: 0 0 12px #ddd;        
    }
    100% {
        box-shadow: 0 0 18px #fff;
    }
}
@-webkit-keyframes glow {
    0% {
        box-shadow: 0 0 12px #ddd;        
    }
    100% {
        box-shadow: 0 0 18px #fff;
    }
}
@-o-keyframes glow {
    0% {
        box-shadow: 0 0 12px #ddd;        
    }
    100% {
        box-shadow: 0 0 18px #fff;
    }
}
@-ms-keyframes glow {
    0% {
        box-shadow: 0 0 12px #ddd;        
    }
    100% {
        box-shadow: 0 0 18px #fff;
    }
}
.stage-in-out .stage-3-bg p{opacity:1;transition:all 1s ease 2.5s;-moz-transition:all 1s ease 2.5s;-webkit-transition:all 1s ease 2.5s;-o-transition:all 1s ease 2.5s;-ms-transition:all 1s ease 2.5s;}

.stage-4-bg{ width:642px; height:460px; position:relative;}
.stage-4-bg .stage-4-bg-1{opacity:0; cursor:pointer; width:580px; height:400px; background:url(../images/stage-4-bg-1.png) 0 0 no-repeat; position:absolute;left:0; top:35px; background-size:100% auto;}
.stage-4-bg .stage-4-bg-2{opacity:0; cursor:pointer;width:620px; height:400px; background:url(../images/stage-4-bg-2.png) 0 0 no-repeat; position:absolute;left:0; top:35px;background-size:100% auto;}
.stage-4-bg .stage-4-bg-3{opacity:0; cursor:pointer;width:580px; height:400px; background:url(../images/stage-4-bg-3.png) 0 0 no-repeat; position:absolute;left:0; top:35px; background-size:100% auto;}
.stage-4-bg .stage-4-bg-4{opacity:0; cursor:pointer;width:580px; height:440px; background:url(../images/stage-4-bg-4.png) 0 0 no-repeat; position:absolute;left:0; top:0; background-size:100% auto;}
.stage-4-bg .stage-4-bg-1,.stage-4-bg .stage-4-bg-2,.stage-4-bg .stage-4-bg-3,.stage-4-bg .stage-4-bg-4{transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;}

.stage-in-out .stage-4-bg .stage-4-bg-1,.stage-in-out .stage-4-bg .stage-4-bg-2,.stage-in-out .stage-4-bg .stage-4-bg-3,.stage-in-out .stage-4-bg .stage-4-bg-4{opacity:1;-moz-transform:scale(0.5,0.5);-webkit-transform:scale(0.5,0.5);-o-transform:scale(0.5,0.5);-ms-transform:scale(0.5,0.5);}
.stage-in-out .stage-4-bg .stage-4-bg-1{transform-origin: top left;-moz-transform-origin: top left;-webkit-transform-origin: top left;-o-transform-origin: top left;-ms-transform-origin: top left;}
.stage-in-out .stage-4-bg .stage-4-bg-2{transform-origin: top right;-moz-transform-origin: top right;-webkit-transform-origin: top right;-o-transform-origin: top right;-ms-transform-origin: top right;}
.stage-in-out .stage-4-bg .stage-4-bg-3{transform-origin: bottom left;-moz-transform-origin: bottom left;-webkit-transform-origin: bottom left;-o-transform-origin: bottom left;-ms-transform-origin: bottom left;}
.stage-in-out .stage-4-bg .stage-4-bg-4{transform-origin: bottom right;-moz-transform-origin: bottom right;-webkit-transform-origin: bottom right;-o-transform-origin: bottom right;-ms-transform-origin: bottom right;}
.stage-in .stage-4-bg .stage-4-bg-1,.stage-in .stage-4-bg .stage-4-bg-2,.stage-in .stage-4-bg .stage-4-bg-3,.stage-in .stage-4-bg .stage-4-bg-4{opacity:1;-moz-transform:scale(0.5,0.5);-webkit-transform:scale(0.5,0.5);-o-transform:scale(0.5,0.5);-ms-transform:scale(0.5,0.5);}
.stage-in .stage-4-bg .stage-4-bg-1{transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;transform-origin: top left;-moz-transform-origin: top left;-webkit-transform-origin: top left;-o-transform-origin: top left;-ms-transform-origin: top left;}
.stage-in .stage-4-bg .stage-4-bg-2{transition:all 0.5s ease 1s;-moz-transition:all 0.5s ease 1s;-webkit-transition:all 0.5s ease 1s;-o-transition:all 0.5s ease 1s;-ms-transition:all 0.5s ease 1s;transform-origin: top right;-moz-transform-origin: top right;-webkit-transform-origin: top right;-o-transform-origin: top right;-ms-transform-origin: top right;}
.stage-in .stage-4-bg .stage-4-bg-3{transition:all 0.5s ease 1.5s;-moz-transition:all 0.5s ease 1.5s;-webkit-transition:all 0.5s ease 1.5s;-o-transition:all 0.5s ease 1.5s;-ms-transition:all 0.5s ease 1.5s;transform-origin: bottom left;-moz-transform-origin: bottom left;-webkit-transform-origin: bottom left;-o-transform-origin: bottom left;-ms-transform-origin: bottom left;}
.stage-in .stage-4-bg .stage-4-bg-4{transition:all 0.5s ease 2s;-moz-transition:all 0.5s ease 2s;-webkit-transition:all 0.5s ease 2s;-o-transition:all 0.5s ease 2s;-ms-transition:all 0.5s ease 2s;transform-origin: bottom right;-moz-transform-origin: bottom right;-webkit-transform-origin: bottom right;-o-transform-origin: bottom right;-ms-transform-origin: bottom right;}
.stage-4-bg .stage-4-bg-1:hover,.stage-4-bg .stage-4-bg-2:hover,.stage-4-bg .stage-4-bg-3:hover,.stage-4-bg .stage-4-bg-4:hover{-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1); z-index:10;transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;}

.stage-5-bg{ width:642px; height:460px; position:relative; overflow:hidden;}
.stage-5-bg .stage-5-bg-1{opacity:0; width:180px; height:460px;  background:url(../images/stage-5-bg-1.png) 0 0 no-repeat; position:absolute; left:-180px; top:0; background-size:100% auto;}
.stage-5-bg .stage-5-bg-2{opacity:0;width:280px; height:290px; background:url(../images/stage-5-bg-3.png) 0 0 no-repeat; position:absolute; left:642px; top:120px; background-size:100% auto;}
.stage-5-bg .stage-5-bg-3{opacity:0; width:340px; height:290px; background:url(../images/stage-5-bg-2.png) 0 0 no-repeat; position:absolute; left:642px; top:80px; background-size:100% auto;-moz-transform:scale(0,0);-webkit-transform:scale(0,0);-o-transform:scale(0,0);-ms-transform:scale(0,0);}
.stage-5-bg .stage-5-bg-1,.stage-5-bg .stage-5-bg-3{transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;}

.stage-in .stage-5-bg .stage-5-bg-1{opacity:1; left:0; top:0; transition:all 0.5s ease 0.5s;-moz-transition:all 0.5s ease 0.5s;-webkit-transition:all 0.5s ease 0.5s;-o-transition:all 0.5s ease 0.5s;-ms-transition:all 0.5s ease 0.5s;}
.stage-in .stage-5-bg .stage-5-bg-2{opacity:1; left:255px; top:80px; transition:all 0.5s ease 0.5s;-moz-transition:all 0.5s ease 0.5s;-webkit-transition:all 0.5s ease 0.5s;-o-transition:all 0.5s ease 0.5s;-ms-transition:all 0.5s ease 0.5s;-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform-origin: top right;-moz-transform-origin: top right;-webkit-transform-origin: top right;-o-transform-origin: top right;-ms-transform-origin: top right;}
.stage-in-out .stage-5-bg .stage-5-bg-2{opacity:1;transition:all 0.5s ease 1s;-moz-transition:all 0.5s ease 1s;-webkit-transition:all 0.5s ease 1s;-o-transition:all 0.5s ease 1s;-ms-transition:all 0.5s ease 1s;-moz-transform:scale(0,0);-webkit-transform:scale(0,0);-o-transform:scale(0,0);-ms-transform:scale(0,0);transform-origin: bottom left;-moz-transform-origin: bottom left;-webkit-transform-origin: bottom left;-o-transform-origin: bottom left;-ms-transform-origin: bottom left;}
.stage-in-out .stage-5-bg .stage-5-bg-3{left:255px;opacity:1;transition:all 0.5s ease 1s;-moz-transition:all 0.5s ease 1s;-webkit-transition:all 0.5s ease 1s;-o-transition:all 0.5s ease 1s;-ms-transition:all 0.5s ease 1s;-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform-origin: top right;-moz-transform-origin: top right;-webkit-transform-origin: top right;-o-transform-origin: top right;-ms-transform-origin: top right;}

.stage-6-bg{ width:642px; height:460px; position:relative;}
.stage-6-bg p{ opacity:0; top:-20px; font-size:20px; font-family:Microsoft YaHei; width:100%; text-align:center; color:#fff; position:absolute;transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;}
.stage-6-bg p.p-1{ left:0;}
.stage-6-bg p.p-2{ left:0;}
.stage-6-bg .stage-6-bg-1{opacity:0; width:290px; height:410px; background:url(../images/stage-6-bg-2.png) 0 0 no-repeat; background-size:100% auto; position:absolute; left:-290px; top:93px;}
.stage-6-bg .stage-6-bg-2{opacity:0; width:290px; height:410px; background:url(../images/stage-6-bg-1.png) 0 0 no-repeat; background-size:100% auto; position:absolute; top:100px; left:642px;}
.stage-6-bg .stage-6-bg-1,.stage-6-bg .stage-6-bg-2{transition:all 0.5s ease 1s;-moz-transition:all 0.5s ease 1s;-webkit-transition:all 0.5s ease 1s;-o-transition:all 0.5s ease 1s;-ms-transition:all 0.5s ease 1s;}
.stage-6-bg .stage-6-icon{ width:26px; height:26px; background:url(../images/stage-6-icon.png) 0 0 no-repeat; background-size:300% 200%; position:absolute;}
.stage-6-bg .stage-6-icon.stage-6-icon-1{ background-position:0 0; top:80px; left:0;}
.stage-6-bg .stage-6-icon.stage-6-icon-2{ background-position:0 -26px; top:80px; left:0;}
.stage-6-bg .stage-6-icon.stage-6-icon-3{ background-position:-26px 0; top:80px; left:0;}
.stage-6-bg .stage-6-icon.stage-6-icon-4{ background-position:-52px 0; top:80px; left:0;}
.stage-6-bg .stage-6-icon.stage-6-icon-5{ background-position:-26px -26px; top:80px; left:0;}
.stage-6-bg .stage-6-icon{ opacity:0;transition:all 0.5s ease 0.5s;-moz-transition:all 0.5s ease 0.5s;-webkit-transition:all 0.5s ease 0.5s;-o-transition:all 0.5s ease 0.5s;-ms-transition:all 0.5s ease 0.5s;}

.stage-in .stage-6-bg .stage-6-bg-1,.stage-in .stage-6-bg .stage-6-bg-2{transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;}
.stage-in .stage-6-bg .stage-6-bg-1{left:27px;opacity:1; }
.stage-in .stage-6-bg .stage-6-bg-2{left:317px;opacity:1;}
.stage-in .stage-6-bg .stage-6-icon.stage-6-icon-1{top:358px; left:-17px;transition:all 0.5s ease 0.5s;-moz-transition:all 0.5s ease 0.5s;-webkit-transition:all 0.5s ease 0.5s;-o-transition:all 0.5s ease 0.5s;-ms-transition:all 0.5s ease 0.5s}
.stage-in .stage-6-bg .stage-6-icon.stage-6-icon-2{top:166px; left:-44px;transition:all 0.5s ease 0.8s;-moz-transition:all 0.5s ease 0.8s;-webkit-transition:all 0.5s ease 0.8s;-o-transition:all 0.5s ease 0.8s;-ms-transition:all 0.5s ease 0.8s}
.stage-in .stage-6-bg .stage-6-icon.stage-6-icon-3{top:62px;left:118px;transition:all 0.5s ease 1.1s;-moz-transition:all 0.5s ease 1.1s;-webkit-transition:all 0.5s ease 1.1s;-o-transition:all 0.5s ease 1.1s;-ms-transition:all 0.5s ease 1.1s}
.stage-in .stage-6-bg .stage-6-icon.stage-6-icon-4{top:117px; left:634px;transition:all 0.5s ease 1.4s;-moz-transition:all 0.5s ease 1.4s;-webkit-transition:all 0.5s ease 1.4s;-o-transition:all 0.5s ease 1.4s;-ms-transition:all 0.5s ease 1.4s}
.stage-in .stage-6-bg .stage-6-icon.stage-6-icon-5{top:425px;left:617px;transition:all 0.5s ease 1.7s;-moz-transition:all 0.5s ease 1.7s;-webkit-transition:all 0.5s ease 1.7s;-o-transition:all 0.5s ease 1.7s;-ms-transition:all 0.5s ease 1.7s}
.stage-in .stage-6-bg .stage-6-icon{opacity:1;}
.stage-in .stage-6-bg p.p-1{top:10px;}
.stage-in .stage-6-bg p.p-2{top:45px;}
.stage-in .stage-6-bg p{opacity:1;transition:all 0.5s ease 2.2s;-moz-transition:all 0.5s ease 2.2s;-webkit-transition:all 0.5s ease 2.2s;-o-transition:all 0.5s ease 2.2s;-ms-transition:all 0.5s ease 2.2s;}





